.gemini/
node_modules/
node_modules_backup/
.DS_Store
Thumbs.db
*.log

# storage/*.json  <-- COMENTADO PARA SUBIR TODO
# !storage/precios.json
# !storage/ayuda.json
# !storage/config.json

# Portable binaries
bin/*
!bin/node.exe

# Windows artifacts
desktop.ini

# Backups to ignore
Backups/
backups/
_Backups_Ignored_/
**/Backups/**
**/backups/**
