.gemini/
node_modules/
.DS_Store
Thumbs.db
*.log
# storage/*.json  <-- COMENTADO PARA SUBIR TODO
# !storage/precios.json
# !storage/ayuda.json
# !storage/config.json

# Portable binaries
bin/

# Windows artifacts
desktop.ini

# Backups to ignore
Backups/
backups/

